<html> 
    <head> 
        <title>3D Asset Creation</title> 			
        <!-- <script src="static/js/model3d.js"></script> -->
        <!-- <link rel='stylesheet' type='text/css' href='static/css/my.css'> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
        <style>
            body{
                background-color: whitesmoke;
            }
        </style>
    </head> 
    <body> 
        <div class='ui padded centered grid'>
            <!-- Messaging system -->
            <div class="row">
                <div class="center aligned column">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div style="height:10%; display:flex; align-items: center; justify-content: center">
                                {% for category, message in messages %}
                                    {% if category == error%}
                                        <h3 style="color:red">{{ message }}</h3>
                                    {% else %}
                                        <h3 style="color:green">{{ message }}</h3>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

             <!-- Heading of the page -->
            <div class="row">
                <div class='center aligned column'>
                    <h1>Create 3D assets!</h1>
                </div>
            </div>

            <div class="row">
                <div class='center aligned column'>
                    <form id='formsubmit' method="post" action="image" enctype = "multipart/form-data">
            
                        <div class="ui buttons">
                            <!-- <div id='uploadimage' class="ui button" style="align-items: center;">
                                <i class="image icon"></i>
                                Image
                            </div> -->
                            <!-- <div class="or"></div> -->
                            <div id='uploadvideo' class="ui button" style="align-items: center;">
                                <i class="video icon"></i>
                                Video
                                <span style="font-size: 10px;">(Max 30MB)</span>
                            </div>
                        </div>
                
                        <!-- <input type='file' id='hiddeninputfile' accept="image/*" name = 'image' style="display: none"/> -->
                        <input type="file" id="hiddeninputvideo" accept="video/*" name = 'video' style="display: none">
                        <!-- <input id='submitbutton' class='ui button' type='submit'/> -->
                    </form>
                </div>
            </div>
    
            <div class="row">
                <div class="column">
                    <!-- Nested grid -->
                    <div class="ui centered grid">
                        <div class="row">
                            <div class="center aligned column">
                                {%if original_video_path%}
                                    <video id="player" width="320" height="240" controls>
                                        <source type="video/mp4" src="{{original_video_path}}">
                                    </video>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {%if obj_path %}
            <div class="row">
                <div class="column">
                    <canvas id="scene"></canvas>
                </div>
            </div>
            {%endif%}
        </div>

        
        <!-- <model-3d src="static/car_scaled.obj"></model-3d> -->
    </body> 

    <!-- <x3d width='600px' height='400px'> 
        <scene> 
        <shape> 
            <appearance> 
                <material diffuseColor='1 0 0'></material> 
            </appearance> 			
            <box></box> 
        </shape> 
        </scene> 
    </x3d> 

    <x3d width='500px' height='400px'> 
        <scene>
            <inline url="static/prediction100.x3d"> </inline> 
        </scene> 
    </x3d>  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
    <!-- <script src="three-obj-loader.js"></script> -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/OBJLoader.js"></script>
    <script>
        //This demo is using the plugin "OBJLoader". Don't forget to include it into your page ;)
        //You can find it here : https://github.com/mrdoob/three.js/tree/cf584a60bdfd24c42eaa81d484533364742bda44/examples/js/loaders

        var renderer, scene, camera, banana;

        var ww = window.innerWidth,
            wh = window.innerHeight;

        function init(){

            renderer = new THREE.WebGLRenderer({canvas : document.getElementById('scene')});
            renderer.setSize(ww,wh);

            scene = new THREE.Scene();

            camera = new THREE.PerspectiveCamera(50,ww/wh, 0.1, 10000 );
            camera.position.set(0,0,500);
            scene.add(camera);

            //Add a light in the scene
            directionalLight = new THREE.DirectionalLight( 0xffffff, 0.8 );
            directionalLight.position.set( 0, 0, 350 );
            directionalLight.lookAt(new THREE.Vector3(0,0,0));
            scene.add( directionalLight );

            //Load the obj file
            loadOBJ();
        }

        var loadOBJ = function(){

            //Manager from ThreeJs to track a loader and its status
            var manager = new THREE.LoadingManager();
            //Loader for Obj from Three.js
            var loader = new THREE.OBJLoader( manager );
        
            //Launch loading of the obj file, addBananaInScene is the callback when it's ready 
            loader.load( '{{ obj_path }}', addBananaInScene);

        };

        var addBananaInScene = function(object){
            banana = object;
            //Move the banana in the scene
            // banana.rotation.y = 0;
            banana.position.x = 0;
            banana.position.y = 0;
            banana.position.z = 0;
            banana.scale.x = 500;
            banana.scale.y = 500;
            banana.scale.z = 500;
            //Go through all children of the loaded object and search for a Mesh
            object.traverse( function ( child ) {
                //This allow us to check if the children is an instance of the Mesh constructor
                if(child instanceof THREE.Mesh){
                    child.material.color = new THREE.Color(0X00FF00);
                    //Sometimes there are some vertex normals missing in the .obj files, ThreeJs will compute them
                    child.geometry.computeVertexNormals();
                }
            });
            //Add the 3D object in the scene
            scene.add(banana);
            render();
        };


        var render = function () {
            requestAnimationFrame(render);

            //Turn the banana
            banana.rotation.y += .01;

            renderer.render(scene, camera);
        };

        init();
    </script>
    <script>
        $("#uploadvideo").on("click", function() {
            $('#hiddeninputvideo').click(); 
        });
        document.getElementById("hiddeninputvideo").onchange = function() {
            // $('#loader').removeClass('disabled').addClass('active');
            document.getElementById("formsubmit").submit();
        };
    </script>
</html>